page-leader-board {
  /*  ion-content {
    background-color: #F3EFE0 !important;
    border-radius: 10px;
    .listContainer {
      height: 53vh;
      overflow-y: scroll;
    }
  }*/
  .col {
    padding: 0;
  }
  ion-content {
    background-image: linear-gradient(to right, map-get($colors, secondary) 0%, white 100%);
    color: #00a84f;
    border-radius: 6vw;
    .scroll-content {
      overflow-y: hidden;
    }
  }
  .scroll-content {
    padding-top: 0.3vw;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    padding-bottom: 0.3vw;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -1vw;
    right: 4vw;
    z-index: 100;
  }
  .divcontainer {
    width: 100% !important;
    height: 100%;
    background-color: black !important;
    border-radius: 6vw;
    position: relative;
    overflow-y: scroll;
  }
  .headerRow {
    p {
      font-size: 3.5vw;
      color: white;
      margin-top: 4vw !important;
      color: map-get($colors, secondary);
    }
  }
  .subHeaderRow {
    margin-top: 5vw;
    height: 5vw;
    p {
      font-size: 2.5vw;
      color: white;
      margin: 0;
      padding-left: 0vw;
    }
  }
  .statsRow {
    margin-top: 3vw;
    border-bottom: 0.3vw solid rgba(71, 103, 36, 0.4);
    p {
      margin: 0;
      margin-bottom: 0.7vw;
      font-size: 2.9vw;
      color: map-get($colors, secondary);
      padding-left: 0.3vw;
    }
  }
  span {
    position: relative;
  }
  .previousRatingContainer {
    position: relative;
  }
  .statusArrow {
    position: absolute;
    top: -1vw;
    left: 5vw;
    color: white;
  }
}
