page-leader-board {
  ion-content {
    background-color: #F3EFE0 !important;
    border-radius: 10px;
    .listContainer {
      height: 53vh;
      overflow-y: scroll;
    }
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    /*    position: absolute;
    top: -1vw;
    right: 2vw;*/
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
