<ion-row>
  <ion-col col-12 class="svg-container">
    <div id="cont" level="1">
      <svg width="400" height="400">
        <defs>
          <filter id="dropshadow" height="130%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
            <!-- stdDeviation is how much to blur -->
            <feOffset dx="0" dy="0" result="offsetblur" />
            <!-- how much to offset -->
            <feColorMatrix in="offOut" result="matrixOut" type="matrix" values="0 0 0 0 0.5
                                             0 0 0 0 0.5
                                             0 0 0 0 0 
                                             0 0 0 1 0" />
            <feComponentTransfer>
              <feFuncA type="linear" slope="0.5" />
              <!-- slope is the opacity of the shadow -->
            </feComponentTransfer>
            <feMerge>
              <feMergeNode/>
              <!-- this contains the offset blurred image -->
              <feMergeNode in="SourceGraphic" />
              <!-- this contains the element that the filter is applied to -->
            </feMerge>
          </filter>
          <marker id='dot' viewBox='0 0 10 10' markerHeight='10' markerWidth='10' refX='5' refY='5'>
            <circle cx='5' cy='5' r='5' fill="#79ab42" stroke-width="1" />
          </marker>
        </defs>
        <circle #circle cx='30vw' cy='30vw' r='28.5vw' fill="transparent" stroke-width="5" stroke="white" />

        <path [attr.d]="arc1" stroke="#79ab42" style="filter:url(#dropshadow)" fill="none" stroke-width="5" />
        <path [attr.d]="arc2" style="filter:url(#dropshadow)" marker-start='url(#dot)' fill="none" stroke-width="1" />

      </svg>
      <div text-center class="textSvg">
        <div text-center class="levelContainer">
          {{level}}
        </div>
      </div>
      <div text-center class="experienceDisplay">
        <div text-center style="width:100%">
          {{currentExp}}/{{experienceNextLevel}}
        </div>
      </div>

      <!--      <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="dropshadow" x="-40%" y="-40%" width="180%" height="180%" filterUnits="userSpaceOnUse">
            <feGaussianBlur in="SourceAlpha" stdDeviation="5" />
            <feOffset dx="5" dy="5" result="offsetblur" />
            <feOffset dx="-5" dy="-5" result="offsetblur" />
            <feMerge>
              <feMergeNode/>
              <feMergeNode in="SourceGraphic" />
              <feMergeNode in="SourceGraphic" />
            </feMerge>
          </filter>
        </defs>

        <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
        <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
      </svg>-->

      <!--      <svg id="svg" width="210" height="210" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle id="insideCircle" fill="none" cx="50%" cy="50%" r="100"  stroke-width="3"></circle>
        <circle id="bar" fill="transparent" style="filter:url(#dropshadow)" cx="50%" cy="50%" r="100" stroke="#669933" stroke-width="3"
          stroke-dashoffset="700" stroke-dasharray="700" transform="rotate(85)" transform-origin="50% 50%">
        </circle>
        <defs>
          <filter id="dropshadow" x="-40%" y="-40%" width="180%" height="180%" filterUnits="userSpaceOnUse">
            <feGaussianBlur in="SourceAlpha" stdDeviation="2" />
            <feOffset dx="5" dy="5" result="offsetblur" />
            <feOffset dx="-5" dy="-5" result="offsetblur" />
            <feColorMatrix in="SourceGraphic" type="matrix" values="
                           1 0 0 0 0
                    -0.2 1.0 0.3 0.1 0
              -0.1 0 1 0 0
              0 0 0 1 0 " />
            <feMerge>
              <feMergeNode/>
              <feMergeNode in="SourceGraphic" />
              <feMergeNode in="SourceGraphic" />
            </feMerge>
          </filter>
        </defs>


      </svg>-->


    </div>
  </ion-col>

</ion-row>
