progress-bar {
  .progressCol {
    padding: 0px;
  }
  .col-2 {
    padding-bottom: 5px;
  }
  .progress-outer {
    width: 96%;
    text-align: center;
    background-color: gray;
/*    border: 1px solid #231f20;
*/    color: map-get($colors, questions);
    /*map-get($colors, questions);
    border-radius: 20px;
    */
    /*    transform: skew(-40deg);
*/
    position: relative;
  }
  .progress-inner {
    min-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    /* border-radius: 20px;*/
    background-color: map-get($colors, questions);
    font-size: 1.8vh;
  }
  .progress-inner p {
    font-size: 2vh;
  }
  .level {
    position: absolute;
    top: -80%;
    right: 48%;
    /*    transform: skew(40deg);
*/
    color: black;
  }
  .levelCol {
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 5%;
    .levelContainer {
      position: relative;
      p {
        position: absolute;
        top: -14px;
      }
    }
  }
}
