progress-bar {

  #svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: white;
    stroke-width: 1vw;
  }
  #svg #bar {
    stroke: map-get($colors, secondary);
    stroke-dashoffset: 350;
    filter: blur(5px);
  }
  #cont {
    background: url('../assets/images/eclipse.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: block;
    height: 210px;
    width: 210px;
    margin: 2em auto;
    //box-shadow: 0 0 1em #669933;
    border-radius: 100%;
    position: relative;
  }
  #cont:after {
    position: absolute;
    display: block;
    height: 194px;
    width: 194px;
    left: 44%;
    top: 46%;
    box-shadow: inset 0 0 1em black;
    content: attr(level);
    margin-top: -88px;
    margin-left: -84px;
    border-radius: 100%;
    line-height: 194px;
    font-size: 2em;
    text-shadow: 0 0 0.5em black;
  }



/*  .progressCol {
    padding: 0px;
  }
  .col-2 {
    padding-bottom: 5px;
  }
  .progress {
    position: relative;
    .exp {
      position: absolute;
      z-index: 100;
      left: 30%;
      top: -10px;
    }
  }
  .progress-outer {
    width: 96%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, -1.3);
    position: relative;
  }
  .progress-inner {
    min-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 2.9vh;
  }
  .progress-inner p {
    font-size: 2vh;
  }
  .level {
    position: absolute;
    top: -80%;
    right: 48%;
    color: black;
  }
  .levelCol {
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 5%;
    .levelContainer {
      position: relative;
      p {
        position: absolute;
        top: -20px;
        top: top;
        right: 27%;
        font-size: 17px;
        font-weight: 700;
      }
    }
  }*/
}
