progress-bar {
  $upLineWidth: 3px;
  $upLineHeight: 15px;
  $leftLineHeight: 3px;
  $leftLineWidth: 15px;
  .col {
    padding: 0;
  }
  #svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke-width: 1vw;
  }
  #insideCircle {
    opacity: 0.7;
    stroke: white;
  }
  #svg #bar {
    stroke: map-get($colors, secondary);
    stroke-dashoffset: 350;
    filter: blur(5px);
  }
  #cont {
/*    background: url('../assets/images/eclipse.png') no-repeat;
*/    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: block;
    height: 60vw;
    width: 61vw;
    margin: 9vw auto;
    border-radius: 100%;
    position: relative;
  }
  /*  #cont:after {
    font-family: HIGHSPEED;
    position: absolute;
    display: block;
    height: 194px;
    width: 194px;
    left: 44%;
    top: 46%;
    content: attr(level);
    margin-top: -94px;
    margin-left: -77px;
    border-radius: 100%;
    line-height: 194px;
    font-size: 18vw;
    text-shadow: 0 0 0.5em black;
  }*/
  .textSvg {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 100%;
    .levelContainer {
      font-family: HIGHSPEED;
      font-size: 20vw;
      width: 100%;
    }
  }
  .textSvg::after {
    content: 'LVL';
    position: absolute;
    font-size: 6vw;
    font-family: Play;
    top: -7vw;
    left: 26vw;
  }
  .experienceDisplay {
    position: absolute;
    top: 73%;
    left: 0%;
    font-family: Play;
    font-size: 6vw;
    width: 100%;
  }
  /*  @media only screen and (min-height:900px) and (min-width:600px) {
    #cont {
      background: url('../assets/images/eclipse.png') no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      display: block;
      height: 53vw;
      width: 53vw;
      margin: 9vw auto;
      border-radius: 100%;
      position: relative;
    }
    .textSvg {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      .levelContainer {
        font-family: HIGHSPEED;
        font-size: 17vw;
        width: 100%;
      }
    }
    .textSvg::after {
      content: 'LVL';
      position: absolute;
      font-size: 5vw;
      font-family: Play;
      top: -5vw;
      left: 22vw;
    }
    .experienceDisplay {
      position: absolute;
      top: 73%;
      left: 0%;
      font-family: Play;
      font-size: 5vw;
      width: 100%;
    }
  }*/
  @media only screen and (max-height: 600px) and (max-width: 375px) {
    $multiplier: 0.7;
    svg {
      position: absolute;
      left: -6px;
    }
    #cont {
      height: 171px;
      width: 158px;
      ;
    }
    .textSvg {
      position: absolute;
      top: 45%;
      left: 54%;
      transform: translate(-50%, -50%);
      width: 100%;
      .levelContainer {
        font-family: HIGHSPEED;
        font-size: 50px;
        width: 100%;
      }
    }
    .textSvg::after {
      content: 'LVL';
      position: absolute;
      font-size: 18px;
      font-family: Play;
      top: -18px;
      left: 73px;
    }
    .experienceDisplay {
      position: absolute;
      top: 73%;
      left: 4%;
      font-family: Play;
      font-size: 20px;
      width: 100%;
    }
    .upLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      top: -21px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .leftLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      left: -28px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
    .downLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      bottom: -22px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .rightLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      right: -31px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
  }
  @media only screen and (min-height: 600px) and (max-width:375px) {
    $multiplier: 0.9;
    svg {
      position: absolute;
      left: -6px;
    }
    #cont {
      height: 191px;
      width: 177px;
    }
    .textSvg {
      position: absolute;
      top: 45%;
      left: 54%;
      transform: translate(-50%, -50%);
      width: 100%;
      .levelContainer {
        font-family: HIGHSPEED;
        font-size: 50px;
        width: 100%;
      }
    }
    .textSvg::after {
      content: 'LVL';
      position: absolute;
      font-size: 18px;
      font-family: Play;
      top: -18px;
      left: 73px;
    }
    .experienceDisplay {
      position: absolute;
      top: 73%;
      left: 4%;
      font-family: Play;
      font-size: 20px;
      width: 100%;
    }
    .upLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      top: -21px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .leftLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      left: -28px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
    .downLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      bottom: -22px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .rightLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      right: -31px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
  }
  @media only screen and (max-height: 700px) and (min-width: 375px) {
    $multiplier: 0.7;
    svg {
      position: absolute;
      left: -6px;
    }
    #cont {
      height: 171px;
      width: 158px;
      margin: 4vh auto;
    }
    .textSvg {
      position: absolute;
      top: 45%;
      left: 54%;
      transform: translate(-50%, -50%);
      width: 100%;
      .levelContainer {
        font-family: HIGHSPEED;
        font-size: 50px;
        width: 100%;
      }
    }
    .textSvg::after {
      content: 'LVL';
      position: absolute;
      font-size: 18px;
      font-family: Play;
      top: -18px;
      left: 64px;
    }
    .experienceDisplay {
      position: absolute;
      top: 73%;
      left: 4%;
      font-family: Play;
      font-size: 20px;
      width: 100%;
    }
    .upLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      top: -17px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .leftLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      left: -28px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
    .downLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      bottom: -25px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .rightLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      right: -31px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
  }
  @media only screen and (min-height: 600px) and (min-width:375px) {
    $multiplier: 1;
    svg {
      position: absolute;
      left: -6px;
    }
    #cont {
      height: 191px;
      width: 177px;
    }
    .textSvg {
      position: absolute;
      top: 45%;
      left: 54%;
      transform: translate(-50%, -50%);
      width: 100%;
      .levelContainer {
        font-family: HIGHSPEED;
        font-size: 50px;
        width: 100%;
      }
    }
    .textSvg::after {
      content: 'LVL';
      position: absolute;
      font-size: 18px;
      font-family: Play;
      top: -18px;
      left: 73px;
    }
    .experienceDisplay {
      position: absolute;
      top: 73%;
      left: 4%;
      font-family: Play;
      font-size: 20px;
      width: 100%;
    }
    .upLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      top: -21px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .leftLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      left: -28px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
    .downLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      bottom: -22px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .rightLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      right: -31px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
  }
  @media only screen and (min-width: 768px) {
    $multiplier: 1;
    svg {
      position: absolute;
      left: -6px;
    }
    #cont {
      height: 191px;
      width: 177px;
    }
    .textSvg {
      position: absolute;
      top: 45%;
      left: 54%;
      transform: translate(-50%, -50%);
      width: 100%;
      .levelContainer {
        font-family: HIGHSPEED;
        font-size: 50px;
        width: 100%;
      }
    }
    .textSvg::after {
      content: 'LVL';
      position: absolute;
      font-size: 18px;
      font-family: Play;
      top: -18px;
      left: 73px;
    }
    .experienceDisplay {
      position: absolute;
      top: 73%;
      left: 4%;
      font-family: Play;
      font-size: 20px;
      width: 100%;
    }
    .upLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      top: -21px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .leftLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      left: -28px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
    .downLine {
      position: absolute;
      width: calc(#{$upLineWidth}*#{$multiplier});
      height: calc(#{$upLineHeight}*#{$multiplier});
      border-left: 1px solid white;
      bottom: -22px;
      left: 50%;
      transform: translateX(100%);
      opacity: 0.7;
      z-index: 10000;
    }
    .rightLine {
      position: absolute;
      width: calc(#{$leftLineWidth}*#{$multiplier});
      height: calc(#{$leftLineHeight}*#{$multiplier});
      border-top: 1px solid white;
      top: 50%;
      right: -31px;
      opacity: 1;
      transform: translateY(100%);
      z-index: 10000;
    }
  }
}
