    game-item {
      $arenaContainerHeight: 120px;
      $arenaCointainerMarginTop: 1px;
      $rowContainerMarginTop: 24px;
      $usernameContainerFontSize: 11px;
      $correctNumberFontSize: 38px;
      $halftimeMarginLeft: 10px;
      $halftimeFontSize: 13px;
      $halftimeMarginTop: 18px;
      $buttonMarginTop: 18.5px;
      $buttonWidth: 120px;
      $buttonFontSize: 10.7px;
      $buttonHeigh: 23px;
      $buttonPadding: 1px;
      $iconSize: 50px;
      @media only screen and (max-width: 375px) {
        $multiplier: 0.9;
        color: white;
        .col {
          padding: 0;
        }
        .arenaContainer {
          margin-top:calc(#{$arenaCointainerMarginTop}*#{$multiplier});
          border-bottom: solid rgba(121, 171, 66, 0.5) 0.1vh;
          border-top: groove rgba(121, 171, 66, 0.7) 0.1vw;
          height:calc(#{$arenaContainerHeight}*#{$multiplier});
          /*padding: 1vw;*/
          .rowContainer {
            margin-top:calc(#{$rowContainerMarginTop}*#{$multiplier});
            .userNameContainer {
              p {
                font-size:calc(#{$usernameContainerFontSize}*#{$multiplier});
              }
            }
            .correctNumber {
              p {
                margin: 0;
                color: #79ab42;
                font-size:calc(#{$correctNumberFontSize}*#{$multiplier});
                font-family: HIGHSPEED;
              }
            }
          }
          .halftimeCol {
            p {
              /*  margin-left: calc(#{$halftimeMarginLeft}*#{$multiplier});*/
              font-size:calc(#{$halftimeFontSize}*#{$multiplier});
            }
            margin-top: calc(#{$halftimeMarginTop}*#{$multiplier});
          }
        }
        .buttonRow {
          margin-top:calc(#{$buttonMarginTop}*#{$multiplier});
          button {
            margin: 0;
            background-color: transparent;
            width: calc(#{$buttonWidth}*#{$multiplier});
            position: relative;
            .word-container {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            p {
              margin: 0;
              font-size:calc(#{$buttonFontSize}*#{$multiplier});
              color: white;
            }
          }
          .btn {
            background-image: linear-gradient(to right, map-get($colors, secondary) 50%, white 100%);
            border-radius: 19vw;
            box-sizing: border-box;
            color: #00a84f;
            height:calc(#{$buttonHeigh}*#{$multiplier});
            padding-left:calc(#{$buttonPadding}*#{$multiplier});
            padding-right:calc(#{$buttonPadding}*#{$multiplier});
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 2;
          }
          .btn span {
            position: relative;
            background: black;
            border-radius: 19vw;
            display: block;
            height: 100%;
            transition: background .5s ease;
            width: 100%;
            .word-container {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        ion-icon {
          font-size: calc(#{$iconSize}*#{$multiplier});
          color: #79ab42;
        }
      }
      @media only screen and (min-width: 375px) {
        $multiplier: 1;
        color: white;
        .col {
          padding: 0;
        }
        .arenaContainer {
          margin-top:calc(#{$arenaCointainerMarginTop}*#{$multiplier});
          border-bottom: solid rgba(121, 171, 66, 0.5) 0.1vh;
          border-top: groove rgba(121, 171, 66, 0.7) 0.1vw;
          height:calc(#{$arenaContainerHeight}*#{$multiplier});
          /*padding: 1vw;*/
          .rowContainer {
            margin-top:calc(#{$rowContainerMarginTop}*#{$multiplier});
            .userNameContainer {
              p {
                font-size:calc(#{$usernameContainerFontSize}*#{$multiplier});
              }
            }
            .correctNumber {
              p {
                margin: 0;
                color: #79ab42;
                font-size:calc(#{$correctNumberFontSize}*#{$multiplier});
                font-family: HIGHSPEED;
              }
            }
          }
          .halftimeCol {
            p {
              /*  margin-left: calc(#{$halftimeMarginLeft}*#{$multiplier});*/
              font-size:calc(#{$halftimeFontSize}*#{$multiplier});
            }
            margin-top: calc(#{$halftimeMarginTop}*#{$multiplier});
          }
        }
        .buttonRow {
          margin-top:calc(#{$buttonMarginTop}*#{$multiplier});
          button {
            margin: 0;
            background-color: transparent;
            width: calc(#{$buttonWidth}*#{$multiplier});
            position: relative;
            .word-container {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            p {
              margin: 0;
              font-size:calc(#{$buttonFontSize}*#{$multiplier});
              color: white;
            }
          }
          .btn {
            background-image: linear-gradient(to right, map-get($colors, secondary) 50%, white 100%);
            border-radius: 19vw;
            box-sizing: border-box;
            color: #00a84f;
            height:calc(#{$buttonHeigh}*#{$multiplier});
            padding-left:calc(#{$buttonPadding}*#{$multiplier});
            padding-right:calc(#{$buttonPadding}*#{$multiplier});
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 2;
          }
          .btn span {
            position: relative;
            background: black;
            border-radius: 19vw;
            display: block;
            height: 100%;
            transition: background .5s ease;
            width: 100%;
            .word-container {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        ion-icon {
          font-size: calc(#{$iconSize}*#{$multiplier});
          color: #79ab42;
        }
      }
      @media only screen and (min-width: 600px) {
        $multiplier: 1.3;
        color: white;
        .col {
          padding: 0;
        }
        .arenaContainer {
          margin-top:calc(#{$arenaCointainerMarginTop}*#{$multiplier});
          border-bottom: solid rgba(121, 171, 66, 0.7) 1px;
          border-top: groove rgba(121, 171, 66, 0.6) 1px;
          height:calc(#{$arenaContainerHeight}*#{$multiplier});
          /*padding: 1vw;*/
          .rowContainer {
            margin-top:calc(#{$rowContainerMarginTop}*#{$multiplier});
            .userNameContainer {
              p {
                font-size:calc(#{$usernameContainerFontSize}*#{$multiplier});
              }
            }
            .correctNumber {
              p {
                margin: 0;
                color: #79ab42;
                font-size:calc(#{$correctNumberFontSize}*#{$multiplier});
                font-family: HIGHSPEED;
              }
            }
          }
          .halftimeCol {
            p {
              /*  margin-left: calc(#{$halftimeMarginLeft}*#{$multiplier});*/
              font-size:calc(#{$halftimeFontSize}*#{$multiplier});
            }
            margin-top: calc(#{$halftimeMarginTop}*#{$multiplier});
          }
        }
        .buttonRow {
          margin-top:calc(#{$buttonMarginTop}*#{$multiplier});
          button {
            margin: 0;
            background-color: transparent;
            width: calc(#{$buttonWidth}*#{$multiplier});
            position: relative;
            .word-container {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            p {
              margin: 0;
              font-size:calc(#{$buttonFontSize}*#{$multiplier});
              color: white;
            }
          }
          .btn {
            background-image: linear-gradient(to right, map-get($colors, secondary) 50%, white 100%);
            border-radius: 19vw;
            box-sizing: border-box;
            color: #00a84f;
            height:calc(#{$buttonHeigh}*#{$multiplier});
            padding-left:calc(#{$buttonPadding}*#{$multiplier});
            padding-right:calc(#{$buttonPadding}*#{$multiplier});
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 2;
          }
          .btn span {
            position: relative;
            background: black;
            border-radius: 19vw;
            display: block;
            height: 100%;
            transition: background .5s ease;
            width: 100%;
            .word-container {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        ion-icon {
          font-size: calc(#{$iconSize}*#{$multiplier});
          color: #79ab42;
        }
      }
    }

    ion-modal.inset-modal {
      // transparent black background overlay
      background-color: rgba(0, 0, 0, .5) !important;
      transition: opacity .25s ease-in-out;
      width: 100%;
      height: 100%;
      .modal-wrapper {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4) !important;
      }
    }
