  game-item {
<<<<<<< HEAD
  
=======
    /*  .arenaRow {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-size: 3vw;
    text-align: center;
    position: relative;
    white-space: nowrap;
    margin-bottom: 0.5vw;
  }
  .myTeamsName {
    background-color: gray;
    box-sizing: border-box;
    width: 7vw;
    height: 12vw;
    position: relative;
  }
  .myTeamsName:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 13vw;
    background-color: gray;
    width: 29.5vw;
    height: 12vw;
    z-index: -1;
    transform: skew(-45deg);
  }
  .myTeamsName div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
  }
  .myOpponentsTeamName {
    background-color: gray;
    box-sizing: border-box;
    width: 7vw;
    height: 12vw;
    position: relative;
  }
  .myOpponentsTeamName:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 13vw;
    background-color: gray;
    width: 29vw;
    height: 12vw;
    z-index: -1;
    transform: skew(-45deg);
  }
  .myOpponentsTeamName div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
  }
  @media screen and (max-device-width:299px) {
    .myTeamsName:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
    h1 {
      font-size: 1.6rem;
    }
    .myOpponentsTeamName:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
  }
  @media screen and (min-device-width: 300px) and (max-device-width:349px) {
    .myTeamsName:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
    h1 {
      font-size: 1.6rem;
    }
    .myOpponentsTeamName:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
  }
  @media screen and (min-width: 350px) and (max-width:400px) {
    .myTeamsName:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
    .myOpponentsTeamName:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
    h1 {
      font-size: 1.6rem;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 600px) {
    .myTeamsName:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
    .myOpponentsTeamName:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
  }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    .myTeamsName:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
    .myOpponentsTeamName:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 798px) {
    .myTeamsName:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
    .myOpponentsTeamName:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
  }
  @media screen and (min-width: 799px) {
    .myTeamsName:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
    .myOpponentsTeamName:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 13vw;
      background-color: gray;
      width: 31.5vw;
      height: 12vw;
      z-index: -1;
      transform: skew(-45deg);
    }
  }
  .statusRow {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
    text-align: center;
    position: relative;
    white-space: nowrap;
  }
  .correctAnswerCol {
    background-color: lightslategrey;
    margin: 0px;
  }
  .statusPlayCol {
    background-color: lightslategrey;
    margin: 0px;
  }*/
    /*  .arenasPlayedContainer {
    padding: 0px;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .arenaRow {
    font-size: 3vw;
    text-align: center;
    position: relative;
    white-space: nowrap;
    margin-bottom: 1.5vh;
    margin-top: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .myTeamContainer {
    background-color: transparent !important;
    padding: 0px;
    margin-right: 5vw;
    border: 0.2vw solid transparent;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
    .correctNumber {
      font-size: 4vh;
      position: absolute;
      right: 3.5vw;
      top: -2.6vh;
      color: lighten(black, 30%) !important;
    }
  }
  .opponentContainer {
    background-color: lighten(black, 30%) !important;
    padding: 0px;
    max-width: 47% !important;
    border: 0.2vw solid transparent;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
  }
  .rowContainer {
    height: 100%
  }
  .nameContainer {
    p {
      color: white;
      font-size: 2vh;
    }
  }
  .itemContainer {
    background-color: lighten(white, 10%) !important;
    ion-icon {
      color: #c1c1c1 !important;
      display: inline-block;
      font-size: 4vh;
      position: absolute;
      right: 2.6vw;
      top: 2.0vh;
    }
  }
  .buttonContainer {
    background-color: transparent;
    padding: 0px;
    max-width: 47% !important;
    .button {
      p {
        transform: skew(40deg);
        font-weight: bold;
      }
      position: relative;
      transform: skew(-40deg);
      border: 0.2vw solid transparent;
      background: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
      border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
      border-image-slice: 1;
      width: 33vw;
      height: 100%;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
    }
    .button:after {
      content: "";
      background: #90EE90;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }
    .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
  }*/
    /*  .testContainer {
    padding-right: 1vw;
    padding-left: 1vw;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 7px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 2vh;
  }
  .firstTeam{
    padding-top:5px; 
  }*/
>>>>>>> 7e8592e1895d9374125c8528e0b909d0ed322a76
    .arenaWrapper {
      background-color: #414042, ;
      margin-top: 2vh;
      margin-bottom: 1vh;
      margin-left: 2vw;
      margin-right: 2vw;
      opacity: 0.5;
    }
    .TeamsContainer {
      height: 6.6vh;
      max-height: 6.6vh;
    }
    .myTeamContainer {
      padding: 0;
      .teamCorrectConteiner {
        height: 100%;
      }
      .myTeamName {
        border-bottom: 0.25vh solid;
        -webkit-border-image: linear-gradient(to left, #C2FB80 0%, #ABFFD1 100%);
        border-image-slice: 1;
        padding: 0;
        p {
          color: darken(white, 5%);
          font-size: 2.5vh;
          margin: 0;
          padding: 0;
          margin-top: 1.6vh;
        }
      }
      .teamCorrect {
        padding: 0;
        background-color: white;
        p {
          margin: 0;
          padding: 0;
          font-size: 4vh;
          margin-top: 0.8vh;
        }
      }
    }
    .opponentContainer {
      padding: 0;
      .opponentIconConteiner {
        height: 100%;
      }
      .myTeamName {
        border-bottom: 0.25vh solid;
        border-image: linear-gradient(to left, #C2FB80 0%, #ABFFD1 100%);
        border-image-slice: 1;
        padding: 0;
        p {
          color: darken(white, 5%);
          font-size: 2.5vh;
          margin: 0;
          padding: 0;
          margin-top: 1.6vh;
        }
      }
      ion-icon {
        display: inline-block;
        font-size: 4vh;
        margin-top: 1.1vh;
        color: #808080
      }
      .teamIcon {
        padding: 0;
        background-color: #F5F5F5
      }
    }
    .gameStatus {
      padding: 0;
      margin: 0;
      height: 2.5vh;
      p {
        color: darken(white, 5%);
        padding: 0;
        margin: 0;
        font-size: 1.7vh;
        margin-top: 0.2vh;
      }
      ion-col {
        padding: 0;
        margin: 0;
      }
    }
    .arenaPlayWrapper {
      background-color: #808285;
      margin-top: 2vh;
      margin-bottom: 1vh;
      margin-left: 2vw;
      margin-right: 2vw;
      .playContainer {
        height: 6.6vh;
        max-height: 6.6vh;
        border-bottom: 0.25vh solid;
        border-image: linear-gradient(to left, #C2FB80 0%, #ABFFD1 100%);
        border-image-slice: 1;
        button {
          transform: skew(-45deg);
          height: 100%;
          width: 50vw;
          background: linear-gradient(to left, #C2FB80 0%, #ABFFD1 100%);
        }
        p {
          transform: skew(45deg);
          margin: 0;
          padding: 0;
          font-size: 2.5vh;
          font-weight: BOLD;
        }
      }
      .gameStatus {
        padding: 0;
        margin: 0;
        height: 2.5vh;
        p {
          color: darken(white, 5%);
          padding: 0;
          margin: 0;
          font-size: 1.7vh;
          margin-top: 0.2vh;
        }
        ion-col {
          padding: 0;
          margin: 0;
        }
      }
    }
    .rewardPlayWrapper {
      span {
        background: linear-gradient(to left, #C2FB80 0%, #ABFFD1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
      }
      background-color: #414042;
      margin-top: 2vh;
      margin-bottom: 1vh;
      margin-left: 2vw;
      margin-right: 2vw;
      opacity: 0.9;
      .rewardContainer {
        height: 6.6vh;
        max-height: 6.6vh;
        border-bottom: 0.25vh solid;
        border-image: linear-gradient(to left, #C2FB80 0%, #ABFFD1 100%);
        border-image-slice: 1;
        button {
          transform: skew(-45deg);
          height: 100%;
          width: 50vw;
          background: linear-gradient(to left, #C2FB80 0%, #ABFFD1 100%);
<<<<<<< HEAD
          
=======
>>>>>>> 7e8592e1895d9374125c8528e0b909d0ed322a76
        }
        p {
          transform: skew(45deg);
          margin: 0;
          padding: 0;
          font-size: 2.5vh;
          font-weight: BOLD;
        }
      }
      .gameStatus {
        padding: 0;
        margin: 0;
        height: 2.5vh;
        p {
          color: darken(white, 5%);
          padding: 0;
          margin: 0;
          font-size: 1.7vh;
          margin-top: 0.2vh;
        }
        ion-col {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
