page-tabs {
  .tabs .tabbar {
    background: #000000;
    margin-top: 0.5vw;
  }
  .tabs .tab-button {
    border: 0;
    border-top: groove rgba(121, 171, 66, 0.7) 0.1vw;
    border-bottom: solid rgba(121, 171, 66, 0.6) 0.1vh;
  }
  .tabs .tab-button[aria-selected=true] {
    color: lighten(#B4B4B4, 20%);
    ion-icon {
      color: lighten(#B4B4B4, 20%) !important;
    }
    .tab-button-text {
      font-size: 1.4rem !important;
    }
  }
  .tabs .tab-button[aria-selected=false] {
    color: darken(#878787, 20%);
    ion-icon {
      color: darken(#878787, 20%) !important;
    }
  }
}
