page-tabs {
 .tabs .tabbar {
    background:  #231f20;
  }
  .tabs .tab-button{
    border:1px ridge #382F2E ;
  }
  .tabs .tab-button[aria-selected=true] {
    color:lighten(#B4B4B4,20%) ;
    ion-icon{
      background-color:lighten(#B4B4B4,20%) !important ;
    }

     .tab-button-text{
    font-size: 1.4rem !important;
  }

  }
    .tabs .tab-button[aria-selected=false] {
    color: darken(#878787, 20%) 
  }


}
