page-match {
  ion-content {
    background: url('../assets/images/login/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }
  .col {
    padding: 0;
  }
  .headerRow {
    height: 8%;
    max-height: 8%;
    color: white;
    padding: 0;
    border-bottom: solid rgba(121, 171, 66, 0.8) 0.1vh;
    .headerContainer {
      padding: 0;
      padding-top: 5vw;
      padding-bottom: 5vw;
      p {
        margin: 0;
        font-size: 1.9vh !important;
      }
    }
  }
  .questionRow {
    height: 24%;
    max-height: 24%;
    padding: 0;
    margin-top: 0.7vw;
    color: white;
    border-top: solid rgba(121, 171, 66, 0.3) 0.1vh;
    border-bottom: solid rgba(121, 171, 66, 0.8) 0.1vh;
    .questionContainer {
      margin-left: 8vw;
      margin-right: 8vw;
      padding: 0;
      margin-top: 4%;
      p {
        margin: 0;
        font-size: 3.8vw;
        letter-spacing: 0.4vw;
      }
    }
  }
  .helperRow {
    height: 12.5%;
    max-height: 12.5;
    margin-top: 0.7vw;
    color: white;
    border-top: solid rgba(121, 171, 66, 0.3) 0.1vh;
    border-bottom: solid rgba(121, 171, 66, 0.8) 0.1vh;
    .timerContainer {
      padding: 0;
      .timerIconContainer {
        position: relative;
        .timerIcon {
          position: absolute;
          top: -3vw;
          font-size: 5vw;
          left: 14vw;
        }
      }
    }
    .timer {
      p {
        font-family: HIGHSPEED;
        font-size: 4.1vh;
        margin-left: 8vw;
        margin-top: 5.5vh;
      }
    }
    .helpContainer {
      margin-left: 5vw;
      .helpIconContainer {
        position: relative;
        .helpIcon {
          position: absolute;
          top: 3vw;
          font-size: 6.5vw;
          left: 1vw;
        }
      }
    }
    .helpTextContainer {
      .help {
        p {
          font-size: 2.4vw;
          margin-top: 7.5vh;
        }
      }
    }
  }
  .answerRow {
    height: 54%;
    max-height: 54%;
    border-top: solid rgba(121, 171, 66, 0.3) 0.1vh;
    margin-top: 0.7vw;
    ion-col {
      height: 9vh;
    }
    .rowAnswerContainer {
      margin-top: 5%;
    }
    button {
      text-transform: none;
      margin: 0;
      background-color: transparent;
      width: 50vw;
      position: relative;
      border-color: white;
      border-radius: 5vw;
      height: 9vh;
      .word-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      p {
        font-size: 2vh;
        color: white;
      }
    }
    .initializeButton {
      display: inline-block;
      margin: 0;
      background-color: transparent;
      width: 50vw;
      position: relative;
      border-color: white;
      border-radius: 5vw;
      height: 9vh;
    }
    .wrongButton {
      margin: 0;
      background-color: transparent;
      width: 50vw;
      position: relative;
      border-color: red;
      border-radius: 5vw;
      height: 9vh;
      opacity: 1 !important;
    }
    .rightButton {
      margin: 0;
      background-color: transparent;
      width: 50vw;
      position: relative;
      border-color: green;
      border-radius: 5vw;
      height: 9vh;
      opacity: 1 !important;
    }
    .hideButton {
      display: none;
    }
  }
  .disableIcons {
    opacity: 0.2;
  }
  /*  .btn {
    background-image: linear-gradient(to right, White 50%, white 100%);
    border-radius: 5vw;
    box-sizing: border-box;
    color: #00a84f;
    height: 8.5vh;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
  }
  .btn span {
    position: relative;
    background: black;
    border-radius:  5vw;
    display: block;
    height: 100%;
    transition: background .5s ease;
    width: 100%;
    .word-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p {
      margin: 0;
      font-size: 2vh;
      color: white;
    }
  }*/
}
