page-match {
  ion-content {
    background: url('../assets/images/login/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }
  .toolbar-title {
    font-size: 1.9vh !important;
  }
  .questionRow {
    padding: 0;
    margin-top: 0.5vw;
    color: white;
    border-top: groove rgba(121, 171, 66, 0.8) 0.1vw;
    border-bottom: solid rgba(121, 171, 66, 0.8) 0.1vh;
    .questionContainer {
      margin-left: 8vw;
      margin-right: 8vw;
      padding: 0;
      margin-top: 5vw;
      margin-bottom: 10vw;
      p {
        margin: 0;
        font-size: 3.5vw;
      }
    }
  }
  .helperRow {
    padding: 0;
    margin-top:0.5vw;
    color: white;
    border-top: groove rgba(121, 171, 66, 0.8) 0.1vw;
    border-bottom: solid rgba(121, 171, 66, 0.8) 0.1vh;
  }
  /*  button {
    width: 70vw;
    height: 4.5vw;
    background-color: #231f20;
    color: #8dc63f;
    font-size: 2vh;
    margin: 0.3vh;
  }
  .intializeButton {
    display: inline-block;
    position: relative;
    width: 70vw;
    height: 6vh;
    background-color: #FFFFFF;
    font-size: 2vh;
    margin: 0.3vh;
    box-shadow: 1px;
  }
  .intializeButton:before {
    position: absolute;
    z-index: -6;
    width: 99%;
    height: 98%;
    top: 14%;
    left: 3.5%;
    background: linear-gradient(to right, #C2FB80 0%, #ABFFD1 100%);
    content: '';
  }
  .wrongButton {
    display: inline-block;
    position: relative;
    width: 70vw;
    height: 6vh;
    background-color: #FFFFFF;
    font-size: 2vh;
    margin: 0.3vh;
    box-shadow: 1px;
    border: 0.7vh solid red;
  }
  .rightButton {
    display: inline-block;
    position: relative;
    width: 70vw;
    height: 6vh;
    background-color: #FFFFFF;
    font-size: 2vh;
    margin: 0.3vh;
    box-shadow: 1px;
    border: 0.7vh solid green;
  }
  button:disabled {
    display: inline-block;
    position: relative;
    width: 70vw;
    height: 6vh;
    background-color: #FFFFFF;
    font-size: 2vh;
    margin: 0.3vh;
    box-shadow: 1px;
    opacity: 100;
  }
  .questionCount {
    ion-col {
      padding: 0;
      margin: 0;
    }
    p {
      color: darken(white, 30%);
      font-size: 5vw;
      margin: 0;
      margin-top: 1vh;
      border-bottom: solid 0.1vh gray;
      border-top: solid 0.1vh gray;
    }
  }
  .questionTitleWrapper {
    min-height: 19vh;
    max-height: 19vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .questionTitle {
    margin-top: 7vh;
    ion-col {
      padding: 1vh;
    }
    p {
      color: lighten(white, 30%);
      font-size: 5vw;
      word-wrap: break-word;
      margin: 0;
    }
  }
  ion-grid {
    height: 100%;
    position: relative;
  }
  .questionAnswers {
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 61vh;
    max-height: 61vh;
    padding-left: 2vh;
    padding-right: 2vh;
    img {
      height: 100%;
      width: 100%;
    }
    ion-col {
      padding: 1vh;
    }
    p {
      color: lighten(black, 1%);
      transform: skewX(40deg);
      color: #030303;
      font-size: 2.5vh;
      font-weight: BOLD;
      margin: 0;
    }
    ion-row:nth-child(1) {
      margin-top: 4vh;
    }
    ion-row:nth-child(2) {
      margin-top: 3.8vh;
    }
    ion-row:nth-child(3) {
      margin-top: 4vh;
    }
    ion-row:nth-child(4) {
      margin-top: 4vh;
    }
  }
  .wrapper {
    transform: skewX(-45deg);
  }
  .timerContainer {
    position: absolute;
    left: 0vh;
    bottom: 0vh;
  }*/
}
