page-statistics-modal {
  $headerFontSize: 13.25px;
  $headerMarginTop: 13.5px;
  $subHeaderMarginTop: 10px;
  $subHeaderFontSize: 8.8px;
  $statsMarginTop: 15px;
  $statsMarginBottom: 1px;
  $statsFontSize: 11.4px;
  $formMarginTop: 15px;
  $formMarginLeft: 15px;
  $circleFontSize: 12.5px;
  $cirlceWidth: 25px;
  $circleHeigh: 25px;
  .col {
    padding: 0;
  }
  ion-content {
    background-image: linear-gradient(to right, map-get($colors, secondary) 0%, white 100%);
    color: #00a84f;
    border-radius: 6vw;
    .scroll-content {
      overflow-y: hidden;
    }
  }
  .scroll-content {
    padding-top: 0.3vw;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    padding-bottom: 0.3vw;
  }
  p {
    margin: 1.2vh 0vh;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 6vw;
    font-weight: bold;
    position: absolute;
    top: 1vw;
    right: 4vw;
    z-index: 100;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .divcontainer {
    width: 100% !important;
    height: 100%;
    background-color: black !important;
    border-radius: 6vw;
    position: relative;
  }
  .headerRow {
    p {
      font-size: 3.5vw;
      color: white;
      margin-top: 4vw !important;
      color: map-get($colors, secondary);
    }
  }
  .subHeaderRow {
    margin-top: 5vw;
    height: 3vw;
    p {
      font-size: 2.5vw;
      color: white;
      margin: 0;
    }
  }
  .statsRow {
    margin-top: 4vw;
    border-bottom: 0.3vw solid rgba(71, 103, 36, 0.4);
    p {
      margin: 0;
      margin-bottom: 0.7vw;
      font-size: 2.5vw;
      color: map-get($colors, secondary);
    }
  }
  span {
    position: relative;
  }
  .word-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .formContainer {
    ion-col {
      margin-left: 1vw;
    }
  }
  .circle {
    position: relative;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    background: #ffffff;
    p {
      position: absolute;
      color: black;
      margin: 0;
      font-size: 3.5vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .winForm {
    background-color: #79ab42;
    p {
      color: white;
    }
  }
  .loseForm {
    background-color: #001d00;
    p {
      color: white;
    }
  }
  .drawForm {
    background-color: #ffffff;
    p {
      color: black;
    }
  }
  @media only screen and (max-width: 375px) {
    .scroll-content {
      padding-top: 1px;
      padding-left: 1px;
      padding-right: 1px;
      padding-bottom: 1px;
    }
    p {
      margin: 0;
    }
    .headerRow {
      p {
        font-size: 11px;
        color: white;
        margin-top: 12px !important;
        color: map-get($colors, secondary);
      }
    }
    .subHeaderRow {
      margin-top: 8px;
      /*      height: 45px;
*/
      p {
        font-size: 7px;
        color: white;
        margin: 0;
      }
    }
    .statsRow {
      margin-top: 13px;
      border-bottom: 1px solid rgba(71, 103, 36, 0.4);
      p {
        margin: 0;
        margin-bottom: 1px;
        font-size: 10px;
        color: map-get($colors, secondary);
      }
    }
    span {
      position: relative;
    }
    .word-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .formContainer {
      margin-top: 13px;
      ion-col {
        margin-left: 13px;
      }
    }
    .circle {
      position: relative;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: #ffffff;
      p {
        position: absolute;
        color: black;
        margin: 0;
        font-size: 11px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .winForm {
      background-color: #79ab42;
      p {
        color: white;
      }
    }
    .loseForm {
      background-color: #001d00;
      p {
        color: white;
      }
    }
    .drawForm {
      background-color: #ffffff;
      p {
        color: black;
      }
    }
  }
  @media only screen and (min-width: 375px) {
    .scroll-content {
      padding-top: 1px;
      padding-left: 1px;
      padding-right: 1px;
      padding-bottom: 1px;
    }
    p {
      margin: 0;
    }
    .headerRow {
      p {
        font-size: 13px;
        color: white;
        margin-top: 15px !important;
        color: map-get($colors, secondary);
      }
    }
    .subHeaderRow {
      margin-top: 10px;
      /*      height: 45px;
*/
      p {
        font-size: 9px;
        color: white;
        margin: 0;
      }
    }
    .statsRow {
      margin-top: 15px;
      border-bottom: 1px solid rgba(71, 103, 36, 0.4);
      p {
        margin: 0;
        margin-bottom: 1px;
        font-size: 11px;
        color: map-get($colors, secondary);
      }
    }
    span {
      position: relative;
    }
    .word-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .formContainer {
      margin-top: 15px;
      ion-col {
        margin-left: 15px;
      }
    }
    .circle {
      position: relative;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      background: #ffffff;
      p {
        position: absolute;
        color: black;
        margin: 0;
        font-size: 12.5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .winForm {
      background-color: #79ab42;
      p {
        color: white;
      }
    }
    .loseForm {
      background-color: #001d00;
      p {
        color: white;
      }
    }
    .drawForm {
      background-color: #ffffff;
      p {
        color: black;
      }
    }
  }
  @media only screen and (min-width: 412px) {
    .scroll-content {
      padding-top: 1px;
      padding-left: 1px;
      padding-right: 1px;
      padding-bottom: 1px;
    }
    p {
      margin: 0;
    }
    .headerRow {
      p {
        font-size: calc(#{$headerFontSize}*1);
        color: white;
        margin-top:calc(#{$subHeaderMarginTop}*1) !important;
        color: map-get($colors, secondary);
      }
    }
    .subHeaderRow {
      margin-top: calc(#{$subHeaderMarginTop}*1);
      /*      height: 45px;
*/
      p {
        font-size: calc(#{$subHeaderFontSize}*1);
        color: white;
        margin: 0;
      }
    }
    .statsRow {
      margin-top: calc(#{$statsMarginTop}*1);
      border-bottom: 1px solid rgba(71, 103, 36, 0.4);
      p {
        margin: 0;
        margin-bottom: calc(#{$statsMarginBottom}*1);
        font-size: calc(#{$statsFontSize}*1);
        color: map-get($colors, secondary);
      }
    }
    span {
      position: relative;
    }
    .word-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .formContainer {
      margin-top: calc(#{$formMarginTop}*1);
      ion-col {
        margin-left: calc(#{$formMarginLeft}*1);
      }
    }
    .circle {
      position: relative;
      border-radius: 50%;
      width: calc(#{$circleHeigh}*1);
      height: calc(#{$cirlceWidth}*1);
      background: #ffffff;
      p {
        position: absolute;
        color: black;
        margin: 0;
        font-size: calc(#{$circleFontSize}*1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .winForm {
      background-color: #79ab42;
      p {
        color: white;
      }
    }
    .loseForm {
      background-color: #001d00;
      p {
        color: white;
      }
    }
    .drawForm {
      background-color: #ffffff;
      p {
        color: black;
      }
    }
  }
  @media only screen and (min-width:600px) {
    .scroll-content {
      padding-top: 1px;
      padding-left: 1px;
      padding-right: 1px;
      padding-bottom: 1px;
    }
    p {
      margin: 0;
    }
    .headerRow {
      p {
        font-size: calc(#{$headerFontSize}*1);
        color: white;
        margin-top:calc(#{$subHeaderMarginTop}*1) !important;
        color: map-get($colors, secondary);
      }
    }
    .subHeaderRow {
      margin-top: calc(#{$subHeaderMarginTop}*1);
      /*      height: 45px;
*/
      p {
        font-size: calc(#{$subHeaderFontSize}*1);
        color: white;
        margin: 0;
      }
    }
    .statsRow {
      margin-top: calc(#{$statsMarginTop}*1);
      border-bottom: 1px solid rgba(71, 103, 36, 0.4);
      p {
        margin: 0;
        margin-bottom: calc(#{$statsMarginBottom}*1);
        font-size: calc(#{$statsFontSize}*1);
        color: map-get($colors, secondary);
      }
    }
    span {
      position: relative;
    }
    .word-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .formContainer {
      margin-top: calc(#{$formMarginTop}*1);
      ion-col {
        margin-left: calc(#{$formMarginLeft}*1);
      }
    }
    .circle {
      position: relative;
      border-radius: 50%;
      width: calc(#{$circleHeigh}*1);
      height: calc(#{$cirlceWidth}*1);
      background: #ffffff;
      p {
        position: absolute;
        color: black;
        margin: 0;
        font-size: calc(#{$circleFontSize}*1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .winForm {
      background-color: #79ab42;
      p {
        color: white;
      }
    }
    .loseForm {
      background-color: #001d00;
      p {
        color: white;
      }
    }
    .drawForm {
      background-color: #ffffff;
      p {
        color: black;
      }
    }
  }
  @media only screen and (min-width:900px) {
    .scroll-content {
      padding-top: 1px;
      padding-left: 1px;
      padding-right: 1px;
      padding-bottom: 1px;
    }
    p {
      margin: 0;
    }
    .headerRow {
      p {
        font-size: calc(#{$headerFontSize}*1.5);
        color: white;
        margin-top:calc(#{$subHeaderMarginTop}*1.5) !important;
        color: map-get($colors, secondary);
      }
    }
    .subHeaderRow {
      margin-top: calc(#{$subHeaderMarginTop}*1.5);
      /*      height: 45px;
*/
      p {
        font-size: calc(#{$subHeaderFontSize}*1.5);
        color: white;
        margin: 0;
      }
    }
    .statsRow {
      margin-top: calc(#{$statsMarginTop}*1.5);
      border-bottom: 1px solid rgba(71, 103, 36, 0.4);
      p {
        margin: 0;
        margin-bottom: calc(#{$statsMarginBottom}*1.5);
        font-size: calc(#{$statsFontSize}*1.5);
        color: map-get($colors, secondary);
      }
    }
    span {
      position: relative;
    }
    .word-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .formContainer {
      margin-top: calc(#{$formMarginTop}*1.5);
      ion-col {
        margin-left: calc(#{$formMarginLeft}*1.5);
      }
    }
    .circle {
      position: relative;
      border-radius: 50%;
      width: calc(#{$circleHeigh}*1.5);
      height: calc(#{$cirlceWidth}*1.5);
      background: #ffffff;
      p {
        position: absolute;
        color: black;
        margin: 0;
        font-size: calc(#{$circleFontSize}*1.5);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .winForm {
      background-color: #79ab42;
      p {
        color: white;
      }
    }
    .loseForm {
      background-color: #001d00;
      p {
        color: white;
      }
    }
    .drawForm {
      background-color: #ffffff;
      p {
        color: black;
      }
    }
  }
}




/*@media only screen and (min-width:768px) {
  ion-modal {
    padding-top: 21vh;
    padding-bottom: 27vh;
    padding-left: 8vw;
    padding-right: 8vw;
    background: rgba(0, 0, 0, 0.7);
  }
}*/
