@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cjj4u');
  src:  url('fonts/icomoon.eot?cjj4u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cjj4u') format('truetype'),
    url('fonts/icomoon.woff?cjj4u') format('woff'),
    url('fonts/icomoon.svg?cjj4u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-celsius:before {
  content: "\e900";
}
.icon-temperature-1:before {
  content: "\e901";
}
.icon-temperature:before {
  content: "\e902";
}
.icon-moon:before {
  content: "\e903";
}
.icon-storm-1:before {
  content: "\e904";
}
.icon-cloudy-1:before {
  content: "\e905";
}
.icon-rain:before {
  content: "\e906";
}
.icon-umbrella:before {
  content: "\e907";
}
.icon-wind-1:before {
  content: "\e908";
}
.icon-raining:before {
  content: "\e909";
}
.icon-cloudy:before {
  content: "\e90a";
}
.icon-storm:before {
  content: "\e90b";
}
.icon-wind:before {
  content: "\e90c";
}
.icon-drop:before {
  content: "\e90d";
}
.icon-cloud:before {
  content: "\e90e";
}
.icon-sun:before {
  content: "\e90f";
}
