page-signin {
  ion-content {
    background: url('../assets/images/login/background.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  ion-grid {
    color: white;
    margin-top: 25vh;
  }
  .navBar {
    .connectWith {
      color: #79ab42;
      font-size: 4.1vw;
    }
    .facebook {
      font-size: 4.1vw;
      width: 50vw;
      border: 0.2vw solid white;
      border-radius: 6vw;
      background-color: transparent;
      color: #ffffff;
      padding: 3.2vw !important;
      p {
        margin: 0;
      }
      .lineCol {
        padding-top: 0.5vw;
        .line {
          border-left: 0.3vw solid gray;
          height: 3.3vw;
        }
      }
    }
  }
  .google{
    margin-top:3vw;
  }
}
