page-signin {
  .scroll-content {
    padding: 0 !important;
  }
  ion-content {
    background: url('../assets/images/login/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .backgroundIm {
    width: 100%;
    height: 45vw;
  }
  ion-grid {
    color: white;
    margin-top: 4vh;
  }
  .navBar {
    .connectWith {
      color: #79ab42;
      font-size: 4.1vw;
    }
    .facebook {
      font-size: 4.1vw;
      width: 44vw;
      border: 0.2vw solid white;
      border-radius: 6vw;
      background-color: transparent;
      color: #ffffff;
      padding: 3.2vw !important;
      p {
        margin: 0;
      }
      .lineCol {
        padding-top: 0.5vw;
        .line {
          border-left: 0.3vw solid gray;
          height: 3.3vw;
          margin-left: 3vw;
        }
      }
    }
  }
  .margin {
    margin-top: 3vw;
    p {
      margin-left: 4vw;
    }
  }
  .or {
    color: #79ab42;
    font-size: 4.1vw;
    margin-top: 3vw;
  }
  .sigin-section {
    margin-top: 1vh;
    background-color: #ffffff;
    height: 60vw;
  }
  .col[offset-1] {
    margin-left: 11.33333% !important;
  }
  .col[offset-6] {
    margin-left: 45.33333% !important;
  }
  .select {
    position: relative;
    height: 100%;
    font-size: 4.1vw;
    img {
      position: absolute;
      width: 10vw;
      bottom: 2.3vw;
      left: 2vw;
    }
  }
}
