@import '../theme/match.icons';

@font-face {
  font-family: Play;
  src: url('../assets/fonts/Ubuntu-Light.ttf');
}

@font-face {
  font-family: HIGHSPEED;
  src: url('../assets/fonts/HIGHSPEED.TTF');
}

* {
  font-family: Play;
}

.percentage p {
  font-family: HIGHSPEED;
  font-size: 5vh;
  margin: 0;
}

ion-icon {
  &[class*="appname-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  } // custom icons
  &[class*="appname-customicon1"] {
    mask-image: url(../assets/images/icons_tab_arena.svg);
  }
  &[class*="appname-customicon2"] {
    mask-image: url(../assets/images/icons_tab_team.svg);
  }
  &[class*="appname-court"] {
    mask-image: url(../assets/images/Match_field_icon-01.svg);
  }
  &[class*="appname-statistics"] {
    mask-image: url(../assets/images/football-stats-graphic.svg);
  }
  &[class*="appname-extratime"] {
    mask-image: url(../assets/fonts/matchIcons/extratime.svg);
  }
  &[class*="appname-advice"] {
    mask-image: url(../assets/fonts/match/advice.svg);
  }
}

ion-navbar {
  border-bottom: solid rgba(121, 171, 66, 0.8) 0.1vh;
}

p {
  margin: 0;
}

.bgImage {
  background-image: url('../assets/images/login/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
