<!--
  Generated template for the ShowReward page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding *ngIf="showModal">
  <div *ngIf="isDraw==true">
    <ion-row text-center>
      <ion-col col-12>
        <ion-icon name="md-ribbon"></ion-icon>
      </ion-col>
      <ion-col class="drawText">
        O αγώνας τελείωσε με ισοπαλία.... {{playerResult?.award.correctAnswers}}-{{playerResult?.award.correctAnswers}}
      </ion-col>
    </ion-row>
    <ion-row class="award">
      <ion-col col-6 text-center>
        <p>EXP : {{playerResult?.award.experience}}
          <p>
      </ion-col>
      <ion-col col-6 text-center>
        <p>PTS : {{playerResult?.award.points}}
          <p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <button class="button" (click)="claimAwardBtn.next('d')"><p>Collect award<p></button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="isDraw==false && isWin==true">
    <ion-row text-center>
      <ion-col col-12>
        <ion-icon name="md-ribbon"></ion-icon>
      </ion-col>
      <ion-col class="drawText">
        Συγχαρητήρια Νίκησες! {{playerResult?.award.correctAnswers}}-{{playerResult?.otherPlayerCorrect}}
      </ion-col>
    </ion-row>
    <ion-row class="award">
      <ion-col col-6 text-center>
        <p>EXP : {{playerResult?.award.experience}}
          <p>
      </ion-col>
      <ion-col col-6 text-center>
        <p>PTS :{{playerResult?.award.points}}
          <p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <button class="button" (click)="claimAwardBtn.next('d')"><p>Collect award<p></button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="isDraw==false && isWin==false">
    <ion-row text-center>
      <ion-col col-12>
        <ion-icon name="md-ribbon"></ion-icon>
      </ion-col>
      <ion-col class="drawText">
        Δυστυχώς έχασες....{{playerResult?.award.correctAnswers}}-{{playerResult?.otherPlayerCorrect}}
      </ion-col>
    </ion-row>
    <ion-row class="award">
      <ion-col col-6 text-center>
        <p>EXP:{{playerResult?.award.experience}}
          <p>
      </ion-col>
      <ion-col col-6 text-center>
        <p>PTS:{{playerResult?.award.points}}
          <p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <button class="button" (click)="claimAwardBtn.next('d')"><p>Collect award<p></button>

      </ion-col>
    </ion-row>
  </div>


</ion-content>
