/*.modal-wrapper {
position: absolute;
top: 129px;
left: 56px;
display: block;
width: 70%;
height: 35%;
  border-radius: 25px;
}
page-show-reward{
ion-content{
    border-radius: 25px;

}
.scroll-content{
overflow-y: hidden;
}
}


*/